<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="images/codettes_logo.png" class="logo"/>
    <p>Codettes is a .NET group for women developers of all ages and skill levels. </p>
    <p>If you are interested in joining our Slack group, you can send an email to <br/>
      pam[at]codettes[dot]net
      or follow/message me on Twitter: <a href="https://www.twitter.com/pamtaro" target="_blank">
        @pamtaro!</a></p>
  </body>
</html>
