body {
  padding-top: 50px;
  background-color: #fff;
  color: #383838;
  font-family: Calibri, Tahoma, Arial;
  font-size: 20px;
  text-align: center;
}

a {
  color:#4b4084;
  text-decoration: none;
}

.logo {
  width: 500px;
}

#wufoo-mpgsxn1ufsizl {
  max-width: 800px;
  margin: 20px auto;
}